In [1]:
import pandas as pd , numpy as np

In [2]:
import tensorflow as tf
from tensorflow.keras import layers

In [101]:
data=pd.read_csv('train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'balannced_data.csv'

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252000 entries, 0 to 251999
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           252000 non-null  int64
 1   Id                   252000 non-null  int64
 2   income               252000 non-null  int64
 3   age                  252000 non-null  int64
 4   experience           252000 non-null  int64
 5   married              252000 non-null  int64
 6   house_ownership      252000 non-null  int64
 7   car_ownership        252000 non-null  int64
 8   profession           252000 non-null  int64
 9   city                 252000 non-null  int64
 10  state                252000 non-null  int64
 11  current_job_years    252000 non-null  int64
 12  current_house_years  252000 non-null  int64
 13  risk_flag            252000 non-null  int64
dtypes: int64(14)
memory usage: 26.9 MB

In [5]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [6]:
from tensorflow.keras.layers.experimental import preprocessing
normalizer = preprocessing.Normalization()

In [7]:
data['fail']=data['risk_flag'].apply(lambda x :  1 if x==0 else 0)

In [8]:
data['pass']=data['risk_flag'].apply(lambda x :  0 if x==0 else 1)

In [9]:
y2=data['risk_flag'].values

In [10]:
data=data.drop(['Id'],axis=1)

In [11]:
data=data.drop(['Unnamed: 0'],axis=1)
data

,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag,fail,pass
0,1303835,23,3,1,2,0,33,251,13,3,13,0,1,0
1,7574516,40,10,1,2,0,43,227,14,9,13,0,1,0
2,3991815,66,4,0,2,0,47,8,12,4,10,0,1,0
3,6256451,41,2,1,2,1,43,54,17,2,12,1,0,1
4,5768871,47,11,1,2,0,11,296,22,3,14,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251995,8154883,43,13,1,2,0,45,162,28,6,11,0,1,0
251996,2843572,26,10,1,2,0,3,251,13,6,11,0,1,0
251997,4522448,46,7,1,2,0,17,144,14,7,12,0,1,0
251998,6507128,45,0,1,2,0,27,233,18,0,10,0,1,0
251999,9070230,70,17,1,2,0,44,26,22,7,11,0,1,0

In [12]:
def scale(x,min,max):
    return (x-min)/(max-min)

In [13]:
def normalise_column(li):
    for column in li:
        min= np.min(data[column])
        max= np.max(data[column])
        data[column]=data[column].apply(lambda x: (x-min)/(max-min))

In [14]:
data.columns

Index(['income', 'age', 'experience', 'married', 'house_ownership',
       'car_ownership', 'profession', 'city', 'state', 'current_job_years',
       'current_house_years', 'risk_flag', 'fail', 'pass'],
      dtype='object')

In [15]:
features=['income', 'age', 'experience', 'married', 'house_ownership',
       'car_ownership', 'profession', 'city', 'state', 'current_job_years',
       'current_house_years', 'fail', 'pass']

In [16]:
normalise_column(['income', 'age', 'experience', 'married', 'house_ownership',
       'car_ownership', 'profession', 'city', 'state', 'current_job_years',
       'current_house_years', 'fail', 'pass'])

In [17]:
data

,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag,fail,pass
0,0.129487,0.034483,0.15,1.0,1.0,0.0,0.66,0.794304,0.464286,0.214286,0.75,0,1.0,0.0
1,0.757206,0.327586,0.50,1.0,1.0,0.0,0.86,0.718354,0.500000,0.642857,0.75,0,1.0,0.0
2,0.398564,0.775862,0.20,0.0,1.0,0.0,0.94,0.025316,0.428571,0.285714,0.00,0,1.0,0.0
3,0.625263,0.344828,0.10,1.0,1.0,1.0,0.86,0.170886,0.607143,0.142857,0.50,1,0.0,1.0
4,0.576454,0.448276,0.55,1.0,1.0,0.0,0.22,0.936709,0.785714,0.214286,1.00,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251995,0.815303,0.379310,0.65,1.0,1.0,0.0,0.90,0.512658,1.000000,0.428571,0.25,0,1.0,0.0
251996,0.283620,0.086207,0.50,1.0,1.0,0.0,0.06,0.794304,0.464286,0.428571,0.25,0,1.0,0.0
251997,0.451682,0.431034,0.35,1.0,1.0,0.0,0.34,0.455696,0.500000,0.500000,0.50,0,1.0,0.0
251998,0.650356,0.413793,0.00,1.0,1.0,0.0,0.54,0.737342,0.642857,0.000000,0.00,0,1.0,0.0
251999,0.906933,0.844828,0.85,1.0,1.0,0.0,0.88,0.082278,0.785714,0.500000,0.25,0,1.0,0.0

In [18]:
x=data[['income', 'age', 'experience', 'married', 'house_ownership',
       'car_ownership', 'profession', 'city', 'state', 'current_job_years',
       'current_house_years']].values

In [19]:
x.shape

(252000, 11)

In [20]:
y=data[['pass','fail']].values

In [21]:
y.shape

(252000, 2)

In [93]:
model= Sequential()
model.add(tf.keras.Input(shape=(11)))
#model.add(Dense(12))
model.add(Dense(11))
model.add(Dense(11,activation='relu'))
model.add(Dense(2,activation='sigmoid'))

In [94]:
model.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_34 (Dense)             (None, 11)                132
_________________________________________________________________
dense_35 (Dense)             (None, 11)                132
_________________________________________________________________
dense_36 (Dense)             (None, 2)                 24
=================================================================
Total params: 288
Trainable params: 288
Non-trainable params: 0
_________________________________________________________________

In [95]:
model.compile(loss='categorical_crossentropy', optimizer=tf.keras.optimizers.Adam(lr=0.007), metrics=['accuracy'])
x = data[['income', 'age', 'experience', 'married', 'house_ownership',
          'car_ownership', 'profession', 'city', 'state', 'current_job_years',
          'current_house_years']].values
y = data[['pass', 'fail']].values
model.fit(x,y,epochs=3,batch_size=32,validation_split=0.2)

Epoch 1/3
6300/6300 [==============================] - 9s 1ms/step - loss: 0.3409 - accuracy: 0.8924 - val_loss: 0.4955 - val_accuracy: 0.8153
Epoch 2/3
6300/6300 [==============================] - 9s 1ms/step - loss: 0.3393 - accuracy: 0.8924 - val_loss: 0.5148 - val_accuracy: 0.8153
Epoch 3/3
6300/6300 [==============================] - 9s 2ms/step - loss: 0.3386 - accuracy: 0.8924 - val_loss: 0.5237 - val_accuracy: 0.8153

In [99]:
model.predict(np.reshape(x[:10],(10,11)))

array([[0.15200166, 0.9989372 ],
       [0.11521751, 0.9990055 ],
       [0.08490747, 0.9958936 ],
       [0.10491477, 0.9892379 ],
       [0.10521065, 0.9889515 ],
       [0.13156831, 0.913378  ],
       [0.0661637 , 0.9993424 ],
       [0.15774472, 0.9993924 ],
       [0.08505922, 0.99846303],
       [0.13905288, 0.94463724]], dtype=float32)

In [100]:
y[:10]

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [128]:
data

,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,fail,pass
0,0.129487,0.034483,0.15,1.0,1.0,0.0,0.66,0.794304,0.464286,0.214286,0.75,1.0,0.0
1,0.757206,0.327586,0.50,1.0,1.0,0.0,0.86,0.718354,0.500000,0.642857,0.75,1.0,0.0
2,0.398564,0.775862,0.20,0.0,1.0,0.0,0.94,0.025316,0.428571,0.285714,0.00,1.0,0.0
3,0.625263,0.344828,0.10,1.0,1.0,1.0,0.86,0.170886,0.607143,0.142857,0.50,0.0,1.0
4,0.576454,0.448276,0.55,1.0,1.0,0.0,0.22,0.936709,0.785714,0.214286,1.00,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
251995,0.815303,0.379310,0.65,1.0,1.0,0.0,0.90,0.512658,1.000000,0.428571,0.25,1.0,0.0
251996,0.283620,0.086207,0.50,1.0,1.0,0.0,0.06,0.794304,0.464286,0.428571,0.25,1.0,0.0
251997,0.451682,0.431034,0.35,1.0,1.0,0.0,0.34,0.455696,0.500000,0.500000,0.50,1.0,0.0
251998,0.650356,0.413793,0.00,1.0,1.0,0.0,0.54,0.737342,0.642857,0.000000,0.00,1.0,0.0
251999,0.906933,0.844828,0.85,1.0,1.0,0.0,0.88,0.082278,0.785714,0.500000,0.25,1.0,0.0

In [127]:
y2=data['risk_flag'].values

KeyError: 'risk_flag'

In [149]:
model= Sequential()
model.add(tf.keras.Input(shape=(13)))
model.add(Dense(13))
model.add(Dense(13,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])
model.fit(x,y2,epochs=5,batch_size=256,validation_split=0.2)

Epoch 1/5
788/788 [==============================] - 2s 2ms/step - loss: 0.0298 - accuracy: 0.9685 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 2/5
788/788 [==============================] - 2s 2ms/step - loss: 7.1573e-04 - accuracy: 1.0000 - val_loss: 5.1307e-04 - val_accuracy: 1.0000
Epoch 3/5
788/788 [==============================] - 2s 2ms/step - loss: 2.4711e-04 - accuracy: 1.0000 - val_loss: 2.2939e-04 - val_accuracy: 1.0000
Epoch 4/5
788/788 [==============================] - 2s 2ms/step - loss: 1.2298e-04 - accuracy: 1.0000 - val_loss: 1.2425e-04 - val_accuracy: 1.0000
Epoch 5/5
788/788 [==============================] - 2s 2ms/step - loss: 7.0174e-05 - accuracy: 1.0000 - val_loss: 7.3629e-05 - val_accuracy: 1.0000